<h1 class="text-center text-uppercase my3">all restaurant list here</h1>
<table class="table">
    <thead>
        <tr style="color: sienna; margin-right: 20px; font-size: 25px;">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Operations</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of collectionItem">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.address}}</td>
            <td>
                <i (click)="deleteResto(item.id)" style="color: salmon; margin-right: 20px; font-size: 25px;"
                    class="fa fa-trash"></i>
                <a routerLink="/update/{{item.id}}">
                    <i style="color: sienna; margin-right: 20px; font-size: 25px;" class="fa fa-pencil"></i>
                </a>
                <a routerLink="/add">
                    <i style="color: darkcyan; margin-right: 20px; font-size: 25px;"
                        class="fa-solid fa-circle-plus"></i>
                </a>
                <a routerLink="/register">
                    <i style="color: fuchsia; margin-right: 20px; font-size: 25px;" class="fa-solid fa-registered"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>